DATA GATHERING

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Target URL
url = "https://dps.psx.com.pk/market-watch"

# Send a GET request
response = requests.get(url)
print(response.status_code)
soup = BeautifulSoup(response.text, 'html.parser')
print(soup.prettify())

200
<table class="tbl" data-page-length="25">
 <thead class="tbl__head">
  <!-- tr-->
  <!--   th(colspan="11")-->
  <!--   th.center(colspan="2", style="width: 110px;") TOTAL BUY ORDERS-->
  <!--   th.center(colspan="2", style="width: 110px;") TOTAL SELL ORDERS-->
  <tr>
   <th data-name="symbol">
    SYMBOL
   </th>
   <th data-name="sector">
    SECTOR
   </th>
   <th data-name="listed">
    LISTED IN
   </th>
   <th class="right" data-name="ldcp">
    LDCP
   </th>
   <th class="right" data-name="open">
    OPEN
   </th>
   <th class="right" data-name="high">
    HIGH
   </th>
   <th class="right" data-name="low">
    LOW
   </th>
   <th class="right" data-name="close">
    CURRENT
   </th>
   <th class="right" data-name="change">
    CHANGE
   </th>
   <th class="right" data-name="percentChange">
    CHANGE (%)
   </th>
   <th class="right" data-name="volume">
    VOLUME
   </th>
   <!-- th.right(data-name="obq") QUEUED*-->
   <!-- th.right(data-name="obc") CANCELLED**-->
   <!-- th.right(data-name="osq") QUEUED*-->
   <!-- th.right(data-name="osc") CANCELLED**-->
  </tr>
 </thead>
 <tbody class="tbl__body">
  <tr>
   <td data-order="WTL" data-search="WTL">
    <a class="tbl__symbol" data-title="Worldcall Telecom Limited" href="/company/WTL">
     <strong>
      WTL
     </strong>
    </a>
   </td>
   <td>
    0828
   </td>
   <td>
    ALLSHR
   </td>
   <td class="right" data-order="1.1">
    1.10
   </td>
   <td class="right" data-order="1.13">
    1.13
   </td>
   <td class="right" data-order="1.18">
    1.18
   </td>
   <td class="right" data-order="1.1">
    1.10
   </td>
   <td class="right" data-order="1.16">
    1.16
   </td>
   <td class="right change__text--pos" data-order="0.06">
    <i class="icon-up-dir">
    </i>
    0.06
   </td>
   <td class="right change__text--pos" data-order="5.455">
    <i class="icon-up-dir">
    </i>
    5.46%
   </td>
   <td class="right" data-order="47087025">
    47,087,025
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="CNERGY" data-search="CNERGY">
    <a class="tbl__symbol" data-title="Cnergyico PK  Limited" href="/company/CNERGY">
     <strong>
      CNERGY
     </strong>
    </a>
   </td>
   <td>
    0825
   </td>
   <td>
    ALLSHR,KMIALLSHR,KSE100
   </td>
   <td class="right" data-order="5.72">
    5.72
   </td>
   <td class="right" data-order="5.76">
    5.76
   </td>
   <td class="right" data-order="6.53">
    6.53
   </td>
   <td class="right" data-order="5.35">
    5.35
   </td>
   <td class="right" data-order="6.42">
    6.42
   </td>
   <td class="right change__text--pos" data-order="0.7">
    <i class="icon-up-dir">
    </i>
    0.70
   </td>
   <td class="right change__text--pos" data-order="12.238">
    <i class="icon-up-dir">
    </i>
    12.24%
   </td>
   <td class="right" data-order="33590475">
    33,590,475
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="SSGC" data-search="SSGC">
    <a class="tbl__symbol" data-title="Sui Southern Gas Company Limited" href="/company/SSGC">
     <strong>
      SSGC
     </strong>
    </a>
   </td>
   <td>
    0821
   </td>
   <td>
    ALLSHR,JSMFI,KMIALLSHR
   </td>
   <td class="right" data-order="29.22">
    29.22
   </td>
   <td class="right" data-order="28.5">
    28.50
   </td>
   <td class="right" data-order="28.9">
    28.90
   </td>
   <td class="right" data-order="26.3">
    26.30
   </td>
   <td class="right" data-order="27.69">
    27.69
   </td>
   <td class="right change__text--neg" data-order="-1.53">
    <i class="icon-down-dir">
    </i>
    -1.53
   </td>
   <td class="right change__text--neg" data-order="-5.236">
    <i class="icon-down-dir">
    </i>
    -5.24%
   </td>
   <td class="right" data-order="29288646">
    29,288,646
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="BOP" data-search="BOP">
    <a class="tbl__symbol" data-title="The Bank of Punjab" href="/company/BOP">
     <strong>
      BOP
     </strong>
    </a>
   </td>
   <td>
    0807
   </td>
   <td>
    ALLSHR,KSE100
   </td>
   <td class="right" data-order="8.68">
    8.68
   </td>
   <td class="right" data-order="8.7">
    8.70
   </td>
   <td class="right" data-order="9.19">
    9.19
   </td>
   <td class="right" data-order="8.53">
    8.53
   </td>
   <td class="right" data-order="9.12">
    9.12
   </td>
   <td class="right change__text--pos" data-order="0.44">
    <i class="icon-up-dir">
    </i>
    0.44
   </td>
   <td class="right change__text--pos" data-order="5.069">
    <i class="icon-up-dir">
    </i>
    5.07%
   </td>
   <td class="right" data-order="18310598">
    18,310,598
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="PRL" data-search="PRL">
    <a class="tbl__symbol" data-title="Pakistan Refinery Limited" href="/company/PRL">
     <strong>
      PRL
     </strong>
    </a>
   </td>
   <td>
    0825
   </td>
   <td>
    ALLSHR,KMI30,KMIALLSHR
   </td>
   <td class="right" data-order="24.26">
    24.26
   </td>
   <td class="right" data-order="22.55">
    22.55
   </td>
   <td class="right" data-order="25.1">
    25.10
   </td>
   <td class="right" data-order="22.03">
    22.03
   </td>
   <td class="right" data-order="24.56">
    24.56
   </td>
   <td class="right change__text--pos" data-order="0.3">
    <i class="icon-up-dir">
    </i>
    0.30
   </td>
   <td class="right change__text--pos" data-order="1.237">
    <i class="icon-up-dir">
    </i>
    1.24%
   </td>
   <td class="right" data-order="15347121">
    15,347,121
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="PIAHCLA" data-search="PIAHCLA">
    <a class="tbl__symbol" data-title="PIA Holding Company Limited" href="/company/PIAHCLA">
     <strong>
      PIAHCLA
     </strong>
    </a>
   </td>
   <td>
    0813
   </td>
   <td>
    ALLSHR
   </td>
   <td class="right" data-order="13.58">
    13.58
   </td>
   <td class="right" data-order="12.76">
    12.76
   </td>
   <td class="right" data-order="13">
    13.00
   </td>
   <td class="right" data-order="12.22">
    12.22
   </td>
   <td class="right" data-order="12.23">
    12.23
   </td>
   <td class="right change__text--neg" data-order="-1.35">
    <i class="icon-down-dir">
    </i>
    -1.35
   </td>
   <td class="right change__text--neg" data-order="-9.940999999999999">
    <i class="icon-down-dir">
    </i>
    -9.94%
   </td>
   <td class="right" data-order="14961675">
    14,961,675
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="SNGP" data-search="SNGP">
    <a class="tbl__symbol" data-title="Sui Northern Gas Pipelines Limited" href="/company/SNGP">
     <strong>
      SNGP
     </strong>
    </a>
   </td>
   <td>
    0821
   </td>
   <td>
    ACI,ALLSHR,JSMFI,KMI30,KMIALLSHR,KSE100,MII30
   </td>
   <td class="right" data-order="105.79">
    105.79
   </td>
   <td class="right" data-order="105.5">
    105.50
   </td>
   <td class="right" data-order="113">
    113.00
   </td>
   <td class="right" data-order="105.5">
    105.50
   </td>
   <td class="right" data-order="111.48">
    111.48
   </td>
   <td class="right change__text--pos" data-order="5.69">
    <i class="icon-up-dir">
    </i>
    5.69
   </td>
   <td class="right change__text--pos" data-order="5.379">
    <i class="icon-up-dir">
    </i>
    5.38%
   </td>
   <td class="right" data-order="14847660">
    14,847,660
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="KEL" data-search="KEL">
    <a class="tbl__symbol" data-title="K-Electric Limited" href="/company/KEL">
     <strong>
      KEL
     </strong>
    </a>
   </td>
   <td>
    0824
   </td>
   <td>
    ALLSHR,KMI30,KMIALLSHR,KSE100
   </td>
   <td class="right" data-order="3.92">
    3.92
   </td>
   <td class="right" data-order="3.92">
    3.92
   </td>
   <td class="right" data-order="4.05">
    4.05
   </td>
   <td class="right" data-order="3.81">
    3.81
   </td>
   <td class="right" data-order="4.01">
    4.01
   </td>
   <td class="right change__text--pos" data-order="0.09">
    <i class="icon-up-dir">
    </i>
    0.09
   </td>
   <td class="right change__text--pos" data-order="2.2960000000000003">
    <i class="icon-up-dir">
    </i>
    2.30%
   </td>
   <td class="right" data-order="14463181">
    14,463,181
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="MLCF" data-search="MLCF">
    <a class="tbl__symbol" data-title="Maple Leaf Cement Factory Limited" href="/company/MLCF">
     <strong>
      MLCF
     </strong>
    </a>
   </td>
   <td>
    0804
   </td>
   <td>
    ALLSHR,JSMFI,KMI30,KMIALLSHR,KSE100,KSE30,MII30
   </td>
   <td class="right" data-order="60.87">
    60.87
   </td>
   <td class="right" data-order="61.06">
    61.06
   </td>
   <td class="right" data-order="65">
    65.00
   </td>
   <td class="right" data-order="59.9">
    59.90
   </td>
   <td class="right" data-order="63.32">
    63.32
   </td>
   <td class="right change__text--pos" data-order="2.45">
    <i class="icon-up-dir">
    </i>
    2.45
   </td>
   <td class="right change__text--pos" data-order="4.025">
    <i class="icon-up-dir">
    </i>
    4.03%
   </td>
   <td class="right" data-order="13544491">
    13,544,491
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="KOSM" data-search="KOSM">
    <a class="tbl__symbol" data-title="Kohinoor Spinning Mills Limited" href="/company/KOSM">
     <strong>
      KOSM
     </strong>
    </a>
   </td>
   <td>
    0830
   </td>
   <td>
    ALLSHR
   </td>
   <td class="right" data-order="3.94">
    3.94
   </td>
   <td class="right" data-order="4">
    4.00
   </td>
   <td class="right" data-order="4.12">
    4.12
   </td>
   <td class="right" data-order="3.51">
    3.51
   </td>
   <td class="right" data-order="3.99">
    3.99
   </td>
   <td class="right change__text--pos" data-order="0.05">
    <i class="icon-up-dir">
    </i>
    0.05
   </td>
   <td class="right change__text--pos" data-order="1.269">
    <i class="icon-up-dir">
    </i>
    1.27%
   </td>
   <td class="right" data-order="13517642">
    13,517,642
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="HASCOL" data-search="HASCOL">
    <a class="tbl__symbol" data-title="Hascol Petroleum Limited" href="/company/HASCOL">
     <strong>
      HASCOL
     </strong>
    </a>
    <div class="tag tag--skim tag--def">
     NC
    </div>
   </td>
   <td>
    0821
   </td>
   <td>
    ALLSHR
   </td>
   <td class="right" data-order="8.37">
    8.37
   </td>
   <td class="right" data-order="8.41">
    8.41
   </td>
   <td class="right" data-order="8.9">
    8.90
   </td>
   <td class="right" data-order="7.61">
    7.61
   </td>
   <td class="right" data-order="8.73">
    8.73
   </td>
   <td class="right change__text--pos" data-order="0.36">
    <i class="icon-up-dir">
    </i>
    0.36
   </td>
   <td class="right change__text--pos" data-order="4.301">
    <i class="icon-up-dir">
    </i>
    4.30%
   </td>
   <td class="right" data-order="11173814">
    11,173,814
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="FFL" data-search="FFL">
    <a class="tbl__symbol" data-title="Fauji Foods Limited" href="/company/FFL">
     <strong>
      FFL
     </strong>
    </a>
   </td>
   <td>
    0810
   </td>
   <td>
    ACI,ALLSHR,KMI30,KMIALLSHR
   </td>
   <td class="right" data-order="12.21">
    12.21
   </td>
   <td class="right" data-order="12.1">
    12.10
   </td>
   <td class="right" data-order="13.2">
    13.20
   </td>
   <td class="right" data-order="11.25">
    11.25
   </td>
   <td class="right" data-order="13.04">
    13.04
   </td>
   <td class="right change__text--pos" data-order="0.83">
    <i class="icon-up-dir">
    </i>
    0.83
   </td>
   <td class="right change__text--pos" data-order="6.798">
    <i class="icon-up-dir">
    </i>
    6.80%
   </td>
   <td class="right" data-order="10686208">
    10,686,208
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="OGDC" data-search="OGDC">
    <a class="tbl__symbol" data-title="Oil &amp; Gas Development Company Limited" href="/company/OGDC">
     <strong>
      OGDC
     </strong>
    </a>
    <div class="tag tag--skim tag--xd">
     XD
    </div>
   </td>
   <td>
    0820
   </td>
   <td>
    ALLSHR,KMI30,KMIALLSHR,KSE100,KSE30,MII30,MZNPI,NBPPGI,NITPGI,OGTI
   </td>
   <td class="right" data-order="176.39">
    176.39
   </td>
   <td class="right" data-order="179.99">
    179.99
   </td>
   <td class="right" data-order="185.75">
    185.75
   </td>
   <td class="right" data-order="174.26">
    174.26
   </td>
   <td class="right" data-order="184.55">
    184.55
   </td>
   <td class="right change__text--pos" data-order="8.16">
    <i class="icon-up-dir">
    </i>
    8.16
   </td>
   <td class="right change__text--pos" data-order="4.626">
    <i class="icon-up-dir">
    </i>
    4.63%
   </td>
   <td class="right" data-order="9341157">
    9,341,157
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="PPL" data-search="PPL">
    <a class="tbl__symbol" data-title="Pakistan Petroleum Limited" href="/company/PPL">
     <strong>
      PPL
     </strong>
    </a>
    <div class="tag tag--skim tag--xd">
     XD
    </div>
   </td>
   <td>
    0820
   </td>
   <td>
    ALLSHR,KMI30,KMIALLSHR,KSE100,KSE30,MII30,MZNPI,NBPPGI,NITPGI,OGTI
   </td>
   <td class="right" data-order="130.91">
    130.91
   </td>
   <td class="right" data-order="132">
    132.00
   </td>
   <td class="right" data-order="140">
    140.00
   </td>
   <td class="right" data-order="128.56">
    128.56
   </td>
   <td class="right" data-order="138.86">
    138.86
   </td>
   <td class="right change__text--pos" data-order="7.95">
    <i class="icon-up-dir">
    </i>
    7.95
   </td>
   <td class="right change__text--pos" data-order="6.0729999999999995">
    <i class="icon-up-dir">
    </i>
    6.07%
   </td>
   <td class="right" data-order="9179993">
    9,179,993
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="PAEL" data-search="PAEL">
    <a class="tbl__symbol" data-title="Pak Elektron Limited" href="/company/PAEL">
     <strong>
      PAEL
     </strong>
    </a>
   </td>
   <td>
    0803
   </td>
   <td>
    ALLSHR,KMI30,KMIALLSHR,KSE100,KSE30,MII30
   </td>
   <td class="right" data-order="37.01">
    37.01
   </td>
   <td class="right" data-order="36.1">
    36.10
   </td>
   <td class="right" data-order="40.7">
    40.70
   </td>
   <td class="right" data-order="35.5">
    35.50
   </td>
   <td class="right" data-order="40.22">
    40.22
   </td>
   <td class="right change__text--pos" data-order="3.21">
    <i class="icon-up-dir">
    </i>
    3.21
   </td>
   <td class="right change__text--pos" data-order="8.673">
    <i class="icon-up-dir">
    </i>
    8.67%
   </td>
   <td class="right" data-order="8894585">
    8,894,585
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->
   <!-- td.right(data-order=item.osc)=numeral(item.osc).format('0,0')-->
  </tr>
  <tr>
   <td data-order="FCCL" data-search="FCCL">
    <a class="tbl__symbol" data-title="Fauji Cement Company Limited" href="/company/FCCL">
     <strong>
      FCCL
     </strong>
    </a>
   </td>
   <td>
    0804
   </td>
   <td>
    ACI,ALLSHR,KMI30,KMIALLSHR,KSE100,KSE30,MII30
   </td>
   <td class="right" data-order="39.86">
    39.86
   </td>
   <td class="right" data-order="39.5">
    39.50
   </td>
   <td class="right" data-order="42.8">
    42.80
   </td>
   <td class="right" data-order="38.85">
    38.85
   </td>
   <td class="right" data-order="41.55">
    41.55
   </td>
   <td class="right change__text--pos" data-order="1.69">
    <i class="icon-up-dir">
    </i>
    1.69
   </td>
   <td class="right change__text--pos" data-order="4.24">
    <i class="icon-up-dir">
    </i>
    4.24%
   </td>
   <td class="right" data-order="8256394">
    8,256,394
   </td>
   <!-- td.right(data-order=item.obq)=numeral(item.obq).format('0,0')-->
   <!-- td.right(data-order=item.obc)=numeral(item.obc).format('0,0')-->
   <!-- td.right(data-order=item.osq)=numeral(item.osq).format('0,0')-->

In [13]:
companies=soup.find_all('tr')
data = []
for c in companies:
    cols = c.find_all('td')
    if len(cols) >= 3:
        a_tag = cols[0].find('a')
        symbol = a_tag.find('strong').text.strip() if a_tag else None
        href = f"https://dps.psx.com.pk{a_tag['href']}" if a_tag else None
        title = a_tag.get('data-title') if a_tag else None
        sector_id = cols[1].text.strip()
        listed_in = cols[2].text.strip()

        data.append({
            'symbol': symbol,
            'href': href,
            'name': title,
            'sector_id': sector_id,
            'listed_in': listed_in
        })
# print(data)
print(len(data))
df = pd.DataFrame(data)
# print(df)
# Mapping sector_id to sector_name based on the provided dropdown options
sector_mapping = {
    "0801": "AUTOMOBILE ASSEMBLER",
    "0802": "AUTOMOBILE PARTS & ACCESSORIES",
    "0803": "CABLE & ELECTRICAL GOODS",
    "0804": "CEMENT",
    "0805": "CHEMICAL",
    "0806": "CLOSE - END MUTUAL FUND",
    "0807": "COMMERCIAL BANKS",
    "0808": "ENGINEERING",
    "0809": "FERTILIZER",
    "0810": "FOOD & PERSONAL CARE PRODUCTS",
    "0811": "GLASS & CERAMICS",
    "0812": "INSURANCE",
    "0813": "INV. BANKS / INV. COS. / SECURITIES COS.",
    "0814": "JUTE",
    "0815": "LEASING COMPANIES",
    "0816": "LEATHER & TANNERIES",
    "0818": "MISCELLANEOUS",
    "0819": "MODARABAS",
    "0820": "OIL & GAS EXPLORATION COMPANIES",
    "0821": "OIL & GAS MARKETING COMPANIES",
    "0822": "PAPER, BOARD & PACKAGING",
    "0823": "PHARMACEUTICALS",
    "0824": "POWER GENERATION & DISTRIBUTION",
    "0825": "REFINERY",
    "0826": "SUGAR & ALLIED INDUSTRIES",
    "0827": "SYNTHETIC & RAYON",
    "0828": "TECHNOLOGY & COMMUNICATION",
    "0829": "TEXTILE COMPOSITE",
    "0830": "TEXTILE SPINNING",
    "0831": "TEXTILE WEAVING",
    "0832": "TOBACCO",
    "0833": "TRANSPORT",
    "0834": "VANASPATI & ALLIED INDUSTRIES",
    "0835": "WOOLLEN",
    "0836": "REAL ESTATE INVESTMENT TRUST",
    "0837": "EXCHANGE TRADED FUNDS",
    "0838": "PROPERTY"
}

# Map sector_id to sector_name
df['sector_name'] = df['sector_id'].map(sector_mapping)

441

In [14]:
print(df.head())

   symbol                                   href  \
0     WTL     https://dps.psx.com.pk/company/WTL
1  CNERGY  https://dps.psx.com.pk/company/CNERGY
2    SSGC    https://dps.psx.com.pk/company/SSGC
3     BOP     https://dps.psx.com.pk/company/BOP
4     PRL     https://dps.psx.com.pk/company/PRL

                               name sector_id                listed_in  \
0         Worldcall Telecom Limited      0828                   ALLSHR
1             Cnergyico PK  Limited      0825  ALLSHR,KMIALLSHR,KSE100
2  Sui Southern Gas Company Limited      0821   ALLSHR,JSMFI,KMIALLSHR
3                The Bank of Punjab      0807            ALLSHR,KSE100
4         Pakistan Refinery Limited      0825   ALLSHR,KMI30,KMIALLSHR

                     sector_name
0     TECHNOLOGY & COMMUNICATION
1                       REFINERY
2  OIL & GAS MARKETING COMPANIES
3               COMMERCIAL BANKS
4                       REFINERY

In [15]:
import pandas as pd

# Let's assume your DataFrame is named df
# First, split the 'listed_in' column by comma
df['listed_in_split'] = df['listed_in'].str.split(',')

# Use explode + get_dummies to one-hot encode
one_hot = df.explode('listed_in_split')
one_hot_encoded = pd.get_dummies(one_hot['listed_in_split'])

# Group back by index to restore original rows
one_hot_encoded = one_hot_encoded.groupby(one_hot.index).sum()

# Drop intermediate column and join
df = df.drop(columns='listed_in_split').join(one_hot_encoded)

print(df.head())

   symbol                                   href  \
0     WTL     https://dps.psx.com.pk/company/WTL
1  CNERGY  https://dps.psx.com.pk/company/CNERGY
2    SSGC    https://dps.psx.com.pk/company/SSGC
3     BOP     https://dps.psx.com.pk/company/BOP
4     PRL     https://dps.psx.com.pk/company/PRL

                               name sector_id                listed_in  \
0         Worldcall Telecom Limited      0828                   ALLSHR
1             Cnergyico PK  Limited      0825  ALLSHR,KMIALLSHR,KSE100
2  Sui Southern Gas Company Limited      0821   ALLSHR,JSMFI,KMIALLSHR
3                The Bank of Punjab      0807            ALLSHR,KSE100
4         Pakistan Refinery Limited      0825   ALLSHR,KMI30,KMIALLSHR

                     sector_name     ACI  ALLSHR  BKTI  ...  KMIALLSHR  \
0     TECHNOLOGY & COMMUNICATION  0    0       1     0  ...          0
1                       REFINERY  0    0       1     0  ...          1
2  OIL & GAS MARKETING COMPANIES  0    0       1     0  ...          1
3               COMMERCIAL BANKS  0    0       1     0  ...          0
4                       REFINERY  0    0       1     0  ...          1

   KSE100  KSE30  MII30  MZNPI  NBPPGI  NITPGI  OGTI  PSXDIV20  UPP9
0       0      0      0      0       0       0     0         0     0
1       1      0      0      0       0       0     0         0     0
2       0      0      0      0       0       0     0         0     0
3       1      0      0      0       0       0     0         0     0
4       0      0      0      0       0       0     0         0     0

[5 rows x 23 columns]

In [17]:
df['data-link'] = "https://dps.psx.com.pk/timeseries/eod/" + df['symbol']
print(df.head())

   symbol                                   href  \
0     WTL     https://dps.psx.com.pk/company/WTL
1  CNERGY  https://dps.psx.com.pk/company/CNERGY
2    SSGC    https://dps.psx.com.pk/company/SSGC
3     BOP     https://dps.psx.com.pk/company/BOP
4     PRL     https://dps.psx.com.pk/company/PRL

                               name sector_id                listed_in  \
0         Worldcall Telecom Limited      0828                   ALLSHR
1             Cnergyico PK  Limited      0825  ALLSHR,KMIALLSHR,KSE100
2  Sui Southern Gas Company Limited      0821   ALLSHR,JSMFI,KMIALLSHR
3                The Bank of Punjab      0807            ALLSHR,KSE100
4         Pakistan Refinery Limited      0825   ALLSHR,KMI30,KMIALLSHR

                     sector_name     ACI  ALLSHR  BKTI  ...  KSE100  KSE30  \
0     TECHNOLOGY & COMMUNICATION  0    0       1     0  ...       0      0
1                       REFINERY  0    0       1     0  ...       1      0
2  OIL & GAS MARKETING COMPANIES  0    0       1     0  ...       0      0
3               COMMERCIAL BANKS  0    0       1     0  ...       1      0
4                       REFINERY  0    0       1     0  ...       0      0

   MII30  MZNPI  NBPPGI  NITPGI  OGTI  PSXDIV20  UPP9  \
0      0      0       0       0     0         0     0
1      0      0       0       0     0         0     0
2      0      0       0       0     0         0     0
3      0      0       0       0     0         0     0
4      0      0       0       0     0         0     0

                                      data-link
0     https://dps.psx.com.pk/timeseries/eod/WTL
1  https://dps.psx.com.pk/timeseries/eod/CNERGY
2    https://dps.psx.com.pk/timeseries/eod/SSGC
3     https://dps.psx.com.pk/timeseries/eod/BOP
4     https://dps.psx.com.pk/timeseries/eod/PRL

[5 rows x 24 columns]

In [18]:
df.to_csv('company_data.csv', index=False)

In [19]:
import requests
import pandas as pd
import time

all_5y_data = []  # To collect all companies' timeseries

for symbol in df['symbol']:
    url = f"https://dps.psx.com.pk/timeseries/eod/{symbol}"
    try:
        response = requests.get(url)
        data = response.json()

        if data["status"] == 1 and "data" in data:
            company_data = data["data"]

            # Create DataFrame
            company_df = pd.DataFrame(company_data, columns=["timestamp", "close_price", "volume", "open_price"])
            company_df["timestamp"] = pd.to_datetime(company_df["timestamp"], unit="s")
            company_df["symbol"] = symbol
            print(company_df.head())
            print("/n")

            all_5y_data.append(company_df)

            # Optional: Save individual CSVs
            # company_df.to_csv(f"{symbol}_timeseries.csv", index=False)

        else:
            print(f"No data for {symbol}")

    except Exception as e:
        print(f"Error fetching {symbol}: {e}")

    time.sleep(1)  # Polite delay to avoid hitting server too fast

# Combine all into one DataFrame (optional)
combined_df = pd.concat(all_5y_data, ignore_index=True)

# Save combined CSV
# combined_df.to_csv("all_companies_timeseries.csv", index=False)

            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         1.10  93253525        1.25    WTL
1 2025-05-07 11:00:00         1.22  53673828        1.20    WTL
2 2025-05-06 11:00:00         1.33  10597193        1.35    WTL
3 2025-05-05 11:00:00         1.34  23846954        1.29    WTL
4 2025-05-02 11:00:00         1.27  11631669        1.27    WTL
/n
            timestamp  close_price    volume  open_price  symbol
0 2025-05-08 11:00:00         5.72  19599374        6.76  CNERGY
1 2025-05-07 11:00:00         6.58  15756609        6.41  CNERGY
2 2025-05-06 11:00:00         7.09   8030127        7.14  CNERGY
3 2025-05-05 11:00:00         7.05   8200468        7.15  CNERGY
4 2025-05-02 11:00:00         7.11  27367683        7.01  CNERGY
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        29.22  15067745       31.99   SSGC
1 2025-05-07 11:00:00        32.47  26711578       33.30   SSGC
2 2025-05-06 11:00:00        36.08  54325421       40.39   SSGC
3 2025-05-05 11:00:00        40.03  23162665       41.03   SSGC
4 2025-05-02 11:00:00        40.25  29319891       38.11   SSGC
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         8.68  26764712        9.25    BOP
1 2025-05-07 11:00:00         9.18  35773964        9.00    BOP
2 2025-05-06 11:00:00         9.78   7197925       10.07    BOP
3 2025-05-05 11:00:00        10.01  17036462        9.85    BOP
4 2025-05-02 11:00:00         9.69  20836529        9.50    BOP
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        24.26   6567785       27.11    PRL
1 2025-05-07 11:00:00        26.95  10364477       27.01    PRL
2 2025-05-06 11:00:00        29.52   8766270       29.75    PRL
3 2025-05-05 11:00:00        29.55   6769872       28.91    PRL
4 2025-05-02 11:00:00        28.91   4966852       28.19    PRL
/n
            timestamp  close_price   volume  open_price   symbol
0 2025-05-08 11:00:00        13.58  7727077       15.50  PIAHCLA
1 2025-05-07 11:00:00        15.09  2473965       14.85  PIAHCLA
2 2025-05-06 11:00:00        16.47  1963054       17.01  PIAHCLA
3 2025-05-05 11:00:00        16.73  2897496       16.71  PIAHCLA
4 2025-05-02 11:00:00        16.57   675602       16.01  PIAHCLA
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00       105.79  12570941       119.0   SNGP
1 2025-05-07 11:00:00       117.52  12379617       120.0   SNGP
2 2025-05-06 11:00:00       123.82   6205785       125.0   SNGP
3 2025-05-05 11:00:00       124.13   4429079       124.5   SNGP
4 2025-05-02 11:00:00       125.47  10934032       128.0   SNGP
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         3.92  27065550        4.22    KEL
1 2025-05-07 11:00:00         4.22  19294421        4.15    KEL
2 2025-05-06 11:00:00         4.38  42259616        4.23    KEL
3 2025-05-05 11:00:00         4.16  17639480        4.06    KEL
4 2025-05-02 11:00:00         4.01  14766764        4.03    KEL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        60.87  19535579       68.65   MLCF
1 2025-05-07 11:00:00        67.09  13073334       66.00   MLCF
2 2025-05-06 11:00:00        70.20  15288695       72.00   MLCF
3 2025-05-05 11:00:00        71.59  23586230       70.00   MLCF
4 2025-05-02 11:00:00        69.44  13169594       69.60   MLCF
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         3.94  28484361        4.99   KOSM
1 2025-05-07 11:00:00         4.87   8567398        4.75   KOSM
2 2025-05-06 11:00:00         5.42  17455731        5.10   KOSM
3 2025-05-05 11:00:00         5.07   3950708        5.10   KOSM
4 2025-05-02 11:00:00         5.01   2774098        5.03   KOSM
/n
            timestamp  close_price    volume  open_price  symbol
0 2025-05-08 11:00:00         8.36   9244018        9.59  HASCOL
1 2025-05-07 11:00:00         9.36  11371103        9.25  HASCOL
2 2025-05-06 11:00:00        10.19   7866354       10.69  HASCOL
3 2025-05-05 11:00:00        10.57  20170918       10.30  HASCOL
4 2025-05-02 11:00:00         9.98   8316817        9.10  HASCOL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        12.21  13416966       13.61    FFL
1 2025-05-07 11:00:00        13.54  15454819       13.21    FFL
2 2025-05-06 11:00:00        14.63   3910695       15.19    FFL
3 2025-05-05 11:00:00        14.89   3442100       15.00    FFL
4 2025-05-02 11:00:00        14.79   6078428       14.55    FFL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00       179.39  10630815      197.77   OGDC
1 2025-05-07 11:00:00       196.63   8425414      190.11   OGDC
2 2025-05-06 11:00:00       202.93   5936784      200.90   OGDC
3 2025-05-05 11:00:00       200.22   1963019      204.00   OGDC
4 2025-05-02 11:00:00       203.25   2120764      203.00   OGDC
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00       131.91  12205184      147.10    PPL
1 2025-05-07 11:00:00       145.28   8361342      141.00    PPL
2 2025-05-06 11:00:00       151.80   7329525      149.75    PPL
3 2025-05-05 11:00:00       148.47   3143530      148.50    PPL
4 2025-05-02 11:00:00       150.83   4500222      151.90    PPL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        37.01  11321432       41.49   PAEL
1 2025-05-07 11:00:00        40.61   7889071       40.00   PAEL
2 2025-05-06 11:00:00        43.10   6642391       44.10   PAEL
3 2025-05-05 11:00:00        43.89   8100828       42.51   PAEL
4 2025-05-02 11:00:00        42.50   7351520       42.49   PAEL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        39.86  19664828       43.29   FCCL
1 2025-05-07 11:00:00        42.85  16433479       40.01   FCCL
2 2025-05-06 11:00:00        44.04   5827716       45.51   FCCL
3 2025-05-05 11:00:00        44.65  14618227       43.50   FCCL
4 2025-05-02 11:00:00        43.44  11208268       43.45   FCCL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         7.10  14901402        8.07  PIBTL
1 2025-05-07 11:00:00         7.89  23324371        8.00  PIBTL
2 2025-05-06 11:00:00         8.82   7651238        8.79  PIBTL
3 2025-05-05 11:00:00         8.71   2883248        8.73  PIBTL
4 2025-05-02 11:00:00         8.78   5606887        8.89  PIBTL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         3.99  3066245        4.57   PACE
1 2025-05-07 11:00:00         4.57  2582067        4.52   PACE
2 2025-05-06 11:00:00         5.09  1488624        5.17   PACE
3 2025-05-05 11:00:00         5.05   731444        5.08   PACE
4 2025-05-02 11:00:00         5.05  1829294        5.19   PACE
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        28.49  2428721       32.02   DFML
1 2025-05-07 11:00:00        31.65  4109798       31.52   DFML
2 2025-05-06 11:00:00        35.02  2767337       38.10   DFML
3 2025-05-05 11:00:00        37.33  1597307       36.65   DFML
4 2025-05-02 11:00:00        36.64  1513936       36.80   DFML
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00         9.03   7980359       10.29    DCL
1 2025-05-07 11:00:00        10.03  11472103        9.70    DCL
2 2025-05-06 11:00:00        10.46  26185745       11.00    DCL
3 2025-05-05 11:00:00        10.75  16055248       10.35    DCL
4 2025-05-02 11:00:00        10.17   5773485        9.75    DCL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       119.00  7700172      129.44   HUBC
1 2025-05-07 11:00:00       127.28  8518830      125.00   HUBC
2 2025-05-06 11:00:00       133.47  2774334      137.00   HUBC
3 2025-05-05 11:00:00       135.55  1680699      136.56   HUBC
4 2025-05-02 11:00:00       136.24  2921065      135.11   HUBC
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       311.57  6176801      350.10    PSO
1 2025-05-07 11:00:00       345.75  4694780      340.21    PSO
2 2025-05-06 11:00:00       363.19  4245140      360.00    PSO
3 2025-05-05 11:00:00       355.84  2025948      353.00    PSO
4 2025-05-02 11:00:00       353.00  1985423      350.52    PSO
/n
            timestamp  close_price   volume  open_price   symbol
0 2025-05-08 11:00:00        16.71  1535574       18.25  LOTCHEM
1 2025-05-07 11:00:00        18.00  1460863       16.31  LOTCHEM
2 2025-05-06 11:00:00        18.02   240016       18.26  LOTCHEM
3 2025-05-05 11:00:00        18.25   121113       18.60  LOTCHEM
4 2025-05-02 11:00:00        18.34   612453       18.30  LOTCHEM
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        44.04  4034788       48.93   BBFL
1 2025-05-07 11:00:00        48.93  3379660       48.10   BBFL
2 2025-05-06 11:00:00        52.72  3629471       54.11   BBFL
3 2025-05-05 11:00:00        54.06  3304917       53.35   BBFL
4 2025-05-02 11:00:00        53.42  5255063       52.51   BBFL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        67.09  2896939       74.60   CPHL
1 2025-05-07 11:00:00        74.55  3616622       74.51   CPHL
2 2025-05-06 11:00:00        81.70  1939305       84.40   CPHL
3 2025-05-05 11:00:00        84.13  1259978       84.48   CPHL
4 2025-05-02 11:00:00        84.07  2031144       83.50   CPHL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        53.13  5304275       59.20    TRG
1 2025-05-07 11:00:00        58.99  3682527       60.01    TRG
2 2025-05-06 11:00:00        64.08  2142099       63.50    TRG
3 2025-05-05 11:00:00        63.63  1228404       64.25    TRG
4 2025-05-02 11:00:00        64.05  3640555       64.00    TRG
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        67.48  6702326       69.80   BAFL
1 2025-05-07 11:00:00        69.15  1474547       68.99   BAFL
2 2025-05-06 11:00:00        71.03   512721       71.33   BAFL
3 2025-05-05 11:00:00        71.48   366694       72.50   BAFL
4 2025-05-02 11:00:00        72.45  1228905       70.50   BAFL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         5.60  6267707        6.50   TELE
1 2025-05-07 11:00:00         6.39  9586719        6.30   TELE
2 2025-05-06 11:00:00         7.01  2675644        7.04   TELE
3 2025-05-05 11:00:00         6.99  1225658        7.01   TELE
4 2025-05-02 11:00:00         6.98  1939466        7.18   TELE
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        17.43  6294169       19.40    PTC
1 2025-05-07 11:00:00        19.35  7395176       18.55    PTC
2 2025-05-06 11:00:00        20.39   882820       21.00    PTC
3 2025-05-05 11:00:00        20.85   697595       20.75    PTC
4 2025-05-02 11:00:00        20.73  1945231       20.00    PTC
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00       119.55   7662050      131.50   DGKC
1 2025-05-07 11:00:00       130.76   5539591      127.10   DGKC
2 2025-05-06 11:00:00       135.99  11352512      140.00   DGKC
3 2025-05-05 11:00:00       138.71  14728440      133.99   DGKC
4 2025-05-02 11:00:00       132.79   9605968      128.50   DGKC
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        75.70  9822959       83.90    NBP
1 2025-05-07 11:00:00        82.43  5078343       80.00    NBP
2 2025-05-06 11:00:00        84.32  1461125       86.00    NBP
3 2025-05-05 11:00:00        85.24  2436771       85.50    NBP
4 2025-05-02 11:00:00        85.07  3778342       82.32    NBP
/n
            timestamp  close_price   volume  open_price  symbol
0 2025-05-08 11:00:00       146.87  2577697      157.10  ENGROH
1 2025-05-07 11:00:00       155.22  2559058      147.50  ENGROH
2 2025-05-06 11:00:00       160.02  1011523      160.12  ENGROH
3 2025-05-05 11:00:00       161.15  1205135      161.88  ENGROH
4 2025-05-02 11:00:00       161.72  1068825      165.49  ENGROH
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        43.23  2784125       46.01    AGL
1 2025-05-07 11:00:00        47.88  1072947       50.02    AGL
2 2025-05-06 11:00:00        53.20   491793       56.80    AGL
3 2025-05-05 11:00:00        55.78   620346       57.00    AGL
4 2025-05-02 11:00:00        55.05   609522       55.00    AGL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         5.00  4826569        6.00    ASC
1 2025-05-07 11:00:00         6.00  1590531        6.06    ASC
2 2025-05-06 11:00:00         6.41    95552        6.60    ASC
3 2025-05-05 11:00:00         6.35    89932        6.66    ASC
4 2025-05-02 11:00:00         6.43   238255        6.60    ASC
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        66.65  4334621       76.00  SEARL
1 2025-05-07 11:00:00        74.05  4270323       73.46  SEARL
2 2025-05-06 11:00:00        81.51  1341924       84.00  SEARL
3 2025-05-05 11:00:00        83.47  1120068       85.00  SEARL
4 2025-05-02 11:00:00        84.04  1349126       83.10  SEARL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       287.68  7396858      306.11   LUCK
1 2025-05-07 11:00:00       304.92  7169114      300.01   LUCK
2 2025-05-06 11:00:00       323.31  2354625      339.31   LUCK
3 2025-05-05 11:00:00       335.01  3188998      337.00   LUCK
4 2025-05-02 11:00:00       336.80  4552166      336.10   LUCK
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        13.41   9440007       14.10  POWER
1 2025-05-07 11:00:00        13.91  12050932       13.13  POWER
2 2025-05-06 11:00:00        14.40   8852134       15.09  POWER
3 2025-05-05 11:00:00        14.91  41339300       14.10  POWER
4 2025-05-02 11:00:00        13.93   7224784       13.10  POWER
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       331.30  5731517      350.00    FFC
1 2025-05-07 11:00:00       356.09  4727615      330.01    FFC
2 2025-05-06 11:00:00       356.63   822914      356.00    FFC
3 2025-05-05 11:00:00       356.41   520825      353.49    FFC
4 2025-05-02 11:00:00       351.86  1181451      353.99    FFC
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        19.07  3461826       21.99  IMAGE
1 2025-05-07 11:00:00        20.95  2089612       20.51  IMAGE
2 2025-05-06 11:00:00        22.29  1402110       22.60  IMAGE
3 2025-05-05 11:00:00        22.51  1357188       22.17  IMAGE
4 2025-05-02 11:00:00        22.10  1362401       21.81  IMAGE
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       544.41  3779285      608.00   MARI
1 2025-05-07 11:00:00       599.03  2401885      571.12   MARI
2 2025-05-06 11:00:00       616.98  1828212      620.01   MARI
3 2025-05-05 11:00:00       619.29   796635      620.00   MARI
4 2025-05-02 11:00:00       618.32  1637965      619.00   MARI
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         6.75  9397093        7.87   TPLP
1 2025-05-07 11:00:00         7.65  4250692        7.41   TPLP
2 2025-05-06 11:00:00         8.32  1669908        8.40   TPLP
3 2025-05-05 11:00:00         8.38   862983        8.30   TPLP
4 2025-05-02 11:00:00         8.27  1409841        8.38   TPLP
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        16.42  3789501       18.45  TREET
1 2025-05-07 11:00:00        18.23  3130125       18.01  TREET
2 2025-05-06 11:00:00        19.89  4830996       19.32  TREET
3 2025-05-05 11:00:00        19.41  1139882       19.00  TREET
4 2025-05-02 11:00:00        18.91  2127628       18.41  TREET
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        12.17  2898153       13.80    SYM
1 2025-05-07 11:00:00        13.52  3819457       13.15    SYM
2 2025-05-06 11:00:00        14.58  1513941       14.85    SYM
3 2025-05-05 11:00:00        14.88  3871839       14.89    SYM
4 2025-05-02 11:00:00        14.83  2770231       14.60    SYM
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         2.90  3348003        3.40    BML
1 2025-05-07 11:00:00         3.26  2595089        3.43    BML
2 2025-05-06 11:00:00         3.58  1139812        3.66    BML
3 2025-05-05 11:00:00         3.60   488270        3.65    BML
4 2025-05-02 11:00:00         3.56  4199634        3.74    BML
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         6.52  3627239        7.77   AGHA
1 2025-05-07 11:00:00         7.52  1358614        7.51   AGHA
2 2025-05-06 11:00:00         8.01   735614        8.01   AGHA
3 2025-05-05 11:00:00         8.09   231983        7.94   AGHA
4 2025-05-02 11:00:00         7.98  1719686        7.90   AGHA
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        40.78  1615230       45.31    AVN
1 2025-05-07 11:00:00        45.31  1655315       44.01    AVN
2 2025-05-06 11:00:00        48.57  1635614       48.00    AVN
3 2025-05-05 11:00:00        47.86  1350047       47.60    AVN
4 2025-05-02 11:00:00        47.01   795591       46.00    AVN
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00         9.22  3057103        9.81    ASL
1 2025-05-07 11:00:00         9.77  3493129        9.51    ASL
2 2025-05-06 11:00:00        10.49  2806060       10.67    ASL
3 2025-05-05 11:00:00        10.55  5291870       10.00    ASL
4 2025-05-02 11:00:00        10.01  2992773        9.98    ASL
/n
            timestamp  close_price   volume  open_price   symbol
0 2025-05-08 11:00:00       127.27  3335096      142.00  AIRLINK
1 2025-05-07 11:00:00       140.75  2270393      140.08  AIRLINK
2 2025-05-06 11:00:00       153.32   945764      157.20  AIRLINK
3 2025-05-05 11:00:00       156.12   461004      158.00  AIRLINK
4 2025-05-02 11:00:00       155.38   824246      157.00  AIRLINK
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        13.23  2576200       15.06   SLGL
1 2025-05-07 11:00:00        14.69  1621631       14.60   SLGL
2 2025-05-06 11:00:00        16.00  1749813       15.80   SLGL
3 2025-05-05 11:00:00        15.66  1482816       15.97   SLGL
4 2025-05-02 11:00:00        15.86  1423556       15.61   SLGL
/n
            timestamp  close_price    volume  open_price symbol
0 2025-05-08 11:00:00        47.30   5599101       47.30  PREMA
1 2025-05-07 11:00:00        52.56    317166       52.56  PREMA
2 2025-05-06 11:00:00        58.40  16513681       64.00  PREMA
3 2025-05-05 11:00:00        64.89   7906324       67.07  PREMA
4 2025-05-02 11:00:00        66.05  10647030       66.20  PREMA
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00        19.75  2647655       21.50    FCL
1 2025-05-07 11:00:00        21.16  1005975       20.61    FCL
2 2025-05-06 11:00:00        22.52   829665       22.60    FCL
3 2025-05-05 11:00:00        22.48   347250       22.40    FCL
4 2025-05-02 11:00:00        22.34   427668       22.40    FCL
/n
            timestamp  close_price   volume  open_price symbol
0 2025-05-08 11:00:00       448.05  2983445      485.00    UBL
1 2025-05-07 11:00:00       477.84  2017389      460.00    UBL
2 2025-05-06 11:00:00       490.61  1609391      487.26    UBL
3 2025-05-05 11:00:00       487.26  1402293      502.00    UBL
4 2025-05-02 11:00:00       498.06  2001263      470.00    UBL
/n

In [20]:
# Save combined CSV
combined_df.to_csv("all_companies_timeseries.csv", index=False)

In [1]:
print(combined_df.head())
print(df.head())

NameError: name 'combined_df' is not defined

In [3]:
import pandas as pd

company_metadata = pd.read_csv('company_data.csv')
print(company_metadata.head())

   symbol                                   href  \
0     WTL     https://dps.psx.com.pk/company/WTL
1  CNERGY  https://dps.psx.com.pk/company/CNERGY
2    SSGC    https://dps.psx.com.pk/company/SSGC
3     BOP     https://dps.psx.com.pk/company/BOP
4     PRL     https://dps.psx.com.pk/company/PRL

                               name  sector_id                listed_in  \
0         Worldcall Telecom Limited        828                   ALLSHR
1             Cnergyico PK  Limited        825  ALLSHR,KMIALLSHR,KSE100
2  Sui Southern Gas Company Limited        821   ALLSHR,JSMFI,KMIALLSHR
3                The Bank of Punjab        807            ALLSHR,KSE100
4         Pakistan Refinery Limited        825   ALLSHR,KMI30,KMIALLSHR

                     sector_name  Unnamed: 6  ACI  ALLSHR  BKTI  ...  KSE100  \
0     TECHNOLOGY & COMMUNICATION           0    0       1     0  ...       0
1                       REFINERY           0    0       1     0  ...       1
2  OIL & GAS MARKETING COMPANIES           0    0       1     0  ...       0
3               COMMERCIAL BANKS           0    0       1     0  ...       1
4                       REFINERY           0    0       1     0  ...       0

   KSE30  MII30  MZNPI  NBPPGI  NITPGI  OGTI  PSXDIV20  UPP9  \
0      0      0      0       0       0     0         0     0
1      0      0      0       0       0     0         0     0
2      0      0      0       0       0     0         0     0
3      0      0      0       0       0     0         0     0
4      0      0      0       0       0     0         0     0

                                      data-link
0     https://dps.psx.com.pk/timeseries/eod/WTL
1  https://dps.psx.com.pk/timeseries/eod/CNERGY
2    https://dps.psx.com.pk/timeseries/eod/SSGC
3     https://dps.psx.com.pk/timeseries/eod/BOP
4     https://dps.psx.com.pk/timeseries/eod/PRL

[5 rows x 24 columns]

In [11]:
import pandas as pd

# Load both CSVs
company_metadata = pd.read_csv('company_data.csv')
company_timeseries = pd.read_csv('all_companies_timeseries.csv')

# Convert timestamp to datetime and sort
company_timeseries['timestamp'] = pd.to_datetime(company_timeseries['timestamp'])
company_timeseries_sorted = company_timeseries.sort_values(by='timestamp')

# Select only required columns from metadata
metadata_subset = company_metadata[['symbol', 'sector_id', 'sector_name']]

# Merge on the 'symbol' column
merged_df = pd.merge(company_timeseries_sorted, metadata_subset, on='symbol', how='left')

# View the merged result
print(merged_df.head())

            timestamp  close_price  volume  open_price symbol  sector_id  \
0 2020-05-11 09:01:19       526.66     550      525.00   ARPL        805
1 2020-05-11 09:01:30        27.02  589500       27.15   EPCL        805
2 2020-05-11 09:01:44        21.77  750000       21.67  KAPCO        824
3 2020-05-11 09:01:46        61.50    1000       61.50  JSGCL        813
4 2020-05-11 09:01:47       290.00     200      290.00  JLICL        812

                                sector_name
0                                  CHEMICAL
1                                  CHEMICAL
2           POWER GENERATION & DISTRIBUTION
3  INV. BANKS / INV. COS. / SECURITIES COS.
4                                 INSURANCE

In [12]:
# Save merged DataFrame to CSV
merged_df.to_csv('sectorwise_company_timeseries.csv', index=False)

PREPROCESSING + TRAINING

In [26]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# Load the dataset
df = pd.read_csv("sectorwise_company_timeseries.csv", parse_dates=['timestamp'])

# Sort and group
df.sort_values(['symbol', 'timestamp'], inplace=True)
print(df.head())
df['sector_name'] = df['sector_name'].replace('INV. BANKS / INV. COS. / SECURITIES COS.', 'BANKS')
print(df.head())

               timestamp  close_price  volume  open_price symbol  sector_id  \
114  2020-05-11 09:08:02        38.74  567500       39.00    786        813
374  2020-05-12 09:07:50        38.72  598000       38.51    786        813
662  2020-05-13 09:08:17        39.32  803000       38.55    786        813
936  2020-05-14 09:09:11        38.94  732500       39.51    786        813
1339 2020-05-15 08:38:46        38.77  741000       38.61    786        813

                                   sector_name
114   INV. BANKS / INV. COS. / SECURITIES COS.
374   INV. BANKS / INV. COS. / SECURITIES COS.
662   INV. BANKS / INV. COS. / SECURITIES COS.
936   INV. BANKS / INV. COS. / SECURITIES COS.
1339  INV. BANKS / INV. COS. / SECURITIES COS.
               timestamp  close_price  volume  open_price symbol  sector_id  \
114  2020-05-11 09:08:02        38.74  567500       39.00    786        813
374  2020-05-12 09:07:50        38.72  598000       38.51    786        813
662  2020-05-13 09:08:17        39.32  803000       38.55    786        813
936  2020-05-14 09:09:11        38.94  732500       39.51    786        813
1339 2020-05-15 08:38:46        38.77  741000       38.61    786        813

     sector_name
114        BANKS
374        BANKS
662        BANKS
936        BANKS
1339       BANKS

In [27]:
#sector wise seperation to train models specific to sectors
def create_multioutput_dataset(dataset, time_step=100, horizons=[1, 5, 22, 132]):
    X, y_all = [], []
    for i in range(len(dataset) - time_step - max(horizons)):
        X.append(dataset[i:i+time_step])
        y = [dataset[i+time_step+h-1, 0] for h in horizons]  # 0 = close_price
        y_all.append(y)
    return np.array(X), np.array(y_all)

In [28]:
from sklearn.preprocessing import MinMaxScaler

time_step = 100
horizons = [1, 5, 22, 132]  # 1 day, 1 week, 1 month, 6 months
sectors = df['sector_name'].unique()
sector_datasets = {}

for sector in sectors:
    sector_df = df[df['sector_name'] == sector]
    companies = sector_df['symbol'].unique()

    X_all, y_all = [], []
    for symbol in companies:
        company_df = sector_df[sector_df['symbol'] == symbol]
        company_df = company_df[['close_price', 'volume', 'open_price']].values

        scaler = MinMaxScaler()
        company_scaled = scaler.fit_transform(company_df)

        X, y = create_multioutput_dataset(company_scaled, time_step, horizons)

        if len(X) > 0 and len(y) > 0:
            X_all.append(X)
            y_all.append(y)

    if X_all and y_all:
        X_all = np.concatenate(X_all, axis=0)
        y_all = np.concatenate(y_all, axis=0)
        sector_datasets[sector] = (X_all, y_all)

In [30]:
print(len(sector_datasets))
print(sector_datasets.keys())
print(sector_datasets["CHEMICAL"])
for key in sector_datasets:
    X, y = sector_datasets[key]
    print(f"{key}: X.shape = {X.shape}, y.shape = {y.shape}")

36
dict_keys(['BANKS', 'SUGAR & ALLIED INDUSTRIES', 'TEXTILE SPINNING', 'COMMERCIAL BANKS', 'PHARMACEUTICALS', 'EXCHANGE TRADED FUNDS', 'CEMENT', 'TEXTILE COMPOSITE', 'ENGINEERING', 'INSURANCE', 'AUTOMOBILE PARTS & ACCESSORIES', 'FERTILIZER', 'AUTOMOBILE ASSEMBLER', 'TECHNOLOGY & COMMUNICATION', 'MISCELLANEOUS', 'POWER GENERATION & DISTRIBUTION', 'OIL & GAS MARKETING COMPANIES', 'CHEMICAL', 'FOOD & PERSONAL CARE PRODUCTS', 'REFINERY', 'LEATHER & TANNERIES', 'MODARABAS', 'GLASS & CERAMICS', 'WOOLLEN', 'PROPERTY', 'PAPER, BOARD & PACKAGING', 'TRANSPORT', 'REAL ESTATE INVESTMENT TRUST', 'CABLE & ELECTRICAL GOODS', 'SYNTHETIC & RAYON', 'CLOSE - END MUTUAL FUND', 'TEXTILE WEAVING', 'TOBACCO', 'OIL & GAS EXPLORATION COMPANIES', 'LEASING COMPANIES', 'VANASPATI & ALLIED INDUSTRIES'])
(array([[[6.63601670e-01, 2.35484028e-03, 7.93051360e-01],
        [6.84962733e-01, 3.02004940e-03, 8.00604230e-01],
        [6.84962733e-01, 7.01130412e-03, 8.00604230e-01],
        ...,
        [7.38006813e-01, 1.46789479e-03, 0.00000000e+00],
        [7.78859207e-01, 1.34416589e-02, 8.97054381e-01],
        [7.73967164e-01, 8.02685671e-04, 8.61027190e-01]],

       [[6.84962733e-01, 3.02004940e-03, 8.00604230e-01],
        [6.84962733e-01, 7.01130412e-03, 8.00604230e-01],
        [6.89086392e-01, 3.29544598e-02, 8.00604230e-01],
        ...,
        [7.78859207e-01, 1.34416589e-02, 8.97054381e-01],
        [7.73967164e-01, 8.02685671e-04, 8.61027190e-01],
        [7.70765566e-01, 2.91849414e-02, 8.68580060e-01]],

       [[6.84962733e-01, 7.01130412e-03, 8.00604230e-01],
        [6.89086392e-01, 3.29544598e-02, 8.00604230e-01],
        [6.97769126e-01, 3.59212925e-04, 8.15709970e-01],
        ...,
        [7.73967164e-01, 8.02685671e-04, 8.61027190e-01],
        [7.70765566e-01, 2.91849414e-02, 8.68580060e-01],
        [7.49071537e-01, 2.60806322e-02, 8.45936556e-01]],

       ...,

       [[1.96413009e-01, 5.83474816e-03, 5.00000000e-01],
        [2.18476217e-01, 8.41539332e-03, 5.16216216e-01],
        [2.00862346e-01, 1.05829089e-02, 5.10756757e-01],
        ...,
        [3.39525710e-01, 1.91171477e-02, 6.13513514e-01],
        [3.35947892e-01, 8.60215054e-04, 5.99972973e-01],
        [3.16545113e-01, 7.81550651e-03, 5.70324324e-01]],

       [[2.18476217e-01, 8.41539332e-03, 5.16216216e-01],
        [2.00862346e-01, 1.05829089e-02, 5.10756757e-01],
        [2.01871474e-01, 6.58743633e-03, 5.04054054e-01],
        ...,
        [3.35947892e-01, 8.60215054e-04, 5.99972973e-01],
        [3.16545113e-01, 7.81550651e-03, 5.70324324e-01],
        [3.13242512e-01, 1.28522920e-02, 5.67297297e-01]],

       [[2.00862346e-01, 1.05829089e-02, 5.10756757e-01],
        [2.01871474e-01, 6.58743633e-03, 5.04054054e-01],
        [1.94303014e-01, 2.50141483e-02, 5.00000000e-01],
        ...,
        [3.16545113e-01, 7.81550651e-03, 5.70324324e-01],
        [3.13242512e-01, 1.28522920e-02, 5.67297297e-01],
        [3.16590982e-01, 7.48160724e-03, 5.70270270e-01]]]), array([[0.77076557, 0.75421971, 0.72632738, 0.73629076],
       [0.74907154, 0.76052045, 0.72251108, 0.74387214],
       [0.7489947 , 0.82867608, 0.72158902, 0.76198038],
       ...,
       [0.31324251, 0.33874593, 0.35071786, 0.3963121 ],
       [0.31659098, 0.31750837, 0.36099262, 0.36622173],
       [0.31659098, 0.31232512, 0.35892849, 0.34292005]]))
BANKS: X.shape = (20478, 100, 3), y.shape = (20478, 4)
SUGAR & ALLIED INDUSTRIES: X.shape = (14455, 100, 3), y.shape = (14455, 4)
TEXTILE SPINNING: X.shape = (17780, 100, 3), y.shape = (17780, 4)
COMMERCIAL BANKS: X.shape = (18392, 100, 3), y.shape = (18392, 4)
PHARMACEUTICALS: X.shape = (10080, 100, 3), y.shape = (10080, 4)
EXCHANGE TRADED FUNDS: X.shape = (3077, 100, 3), y.shape = (3077, 4)
CEMENT: X.shape = (16636, 100, 3), y.shape = (16636, 4)
TEXTILE COMPOSITE: X.shape = (18979, 100, 3), y.shape = (18979, 4)
ENGINEERING: X.shape = (12657, 100, 3), y.shape = (12657, 4)
INSURANCE: X.shape = (16956, 100, 3), y.shape = (16956, 4)
AUTOMOBILE PARTS & ACCESSORIES: X.shape = (7443, 100, 3), y.shape = (7443, 4)
FERTILIZER: X.shape = (4889, 100, 3), y.shape = (4889, 4)
AUTOMOBILE ASSEMBLER: X.shape = (9680, 100, 3), y.shape = (9680, 4)
TECHNOLOGY & COMMUNICATION: X.shape = (13622, 100, 3), y.shape = (13622, 4)
MISCELLANEOUS: X.shape = (7529, 100, 3), y.shape = (7529, 4)
POWER GENERATION & DISTRIBUTION: X.shape = (13173, 100, 3), y.shape = (13173, 4)
OIL & GAS MARKETING COMPANIES: X.shape = (8388, 100, 3), y.shape = (8388, 4)
CHEMICAL: X.shape = (18541, 100, 3), y.shape = (18541, 4)
FOOD & PERSONAL CARE PRODUCTS: X.shape = (19330, 100, 3), y.shape = (19330, 4)
REFINERY: X.shape = (4008, 100, 3), y.shape = (4008, 4)
LEATHER & TANNERIES: X.shape = (3211, 100, 3), y.shape = (3211, 4)
MODARABAS: X.shape = (9436, 100, 3), y.shape = (9436, 4)
GLASS & CERAMICS: X.shape = (6481, 100, 3), y.shape = (6481, 4)
WOOLLEN: X.shape = (739, 100, 3), y.shape = (739, 4)
PROPERTY: X.shape = (2953, 100, 3), y.shape = (2953, 4)
PAPER, BOARD & PACKAGING: X.shape = (8447, 100, 3), y.shape = (8447, 4)
TRANSPORT: X.shape = (3823, 100, 3), y.shape = (3823, 4)
REAL ESTATE INVESTMENT TRUST: X.shape = (1329, 100, 3), y.shape = (1329, 4)
CABLE & ELECTRICAL GOODS: X.shape = (5395, 100, 3), y.shape = (5395, 4)
SYNTHETIC & RAYON: X.shape = (3474, 100, 3), y.shape = (3474, 4)
CLOSE - END MUTUAL FUND: X.shape = (2117, 100, 3), y.shape = (2117, 4)
TEXTILE WEAVING: X.shape = (2048, 100, 3), y.shape = (2048, 4)
TOBACCO: X.shape = (2170, 100, 3), y.shape = (2170, 4)
OIL & GAS EXPLORATION COMPANIES: X.shape = (4008, 100, 3), y.shape = (4008, 4)
LEASING COMPANIES: X.shape = (505, 100, 3), y.shape = (505, 4)
VANASPATI & ALLIED INDUSTRIES: X.shape = (1225, 100, 3), y.shape = (1225, 4)

In [31]:
from sklearn.model_selection import train_test_split

sector_train_datasets = {}
sector_test_datasets = {}

for sector, (X, y) in sector_datasets.items():
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42
    )
    sector_train_datasets[sector] = (X_train, y_train)
    sector_test_datasets[sector] = (X_test, y_test)

In [32]:
print(len(sector_train_datasets))

36

In [33]:
#model structure

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Dropout, LayerNormalization, MultiHeadAttention, GlobalAveragePooling1D

def build_transformer_multioutput(input_shape, output_dim=4):
    inputs = Input(shape=input_shape)
    x = LayerNormalization(epsilon=1e-6)(inputs)
    x = MultiHeadAttention(num_heads=4, key_dim=64)(x, x)
    x = Dropout(0.1)(x)
    res = x + inputs

    x = LayerNormalization(epsilon=1e-6)(res)
    x = Dense(64, activation='relu')(x)
    x = Dropout(0.1)(x)
    x = Dense(input_shape[-1])(x)
    x = x + res

    x = GlobalAveragePooling1D()(x)
    x = Dense(64, activation='relu')(x)
    outputs = Dense(output_dim)(x)  # 4 outputs

    model = Model(inputs, outputs)
    model.compile(optimizer='adam', loss='mse')
    return model

In [ ]:
#training
for sector, (X, y) in sector_train_datasets.items():
    print(f"Training model for sector: {sector}")
    model = build_transformer_multioutput(input_shape=X.shape[1:])
    model.fit(X, y, epochs=30, batch_size=64, validation_split=0.2, verbose=1)
    model.save(f"/models/model_{sector.replace(' ', '_')}_multioutput.h5")

In [ ]:
#model summaries

import os

# Directory containing the saved model files
model_dir = "models/"  # Change to the actual directory if needed

# Get the list of model files (with .h5 extension)
model_files = [f for f in os.listdir(model_dir) if f.endswith('.h5')]

# Iterate through each model file, rebuild the model, and load the weights
for model_file in model_files:
    sector_name = model_file.replace('model_', '').replace('_multioutput.h5', '').replace('_', ' ')  # Extract sector name

    print(f"Loading model for sector: {sector_name}")

    input_shape = (100, 3)
    model = build_transformer_multioutput(input_shape=input_shape)

    # Load the model weights
    model.load_weights(os.path.join(model_dir, model_file))

    # Print the model summary
    print(f"Model summary for {sector_name}:")
    model.summary()
    print("\n" + "="*50 + "\n")

TESTING ON SECTORS

In [41]:
from tensorflow.keras.models import load_model
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

results = {}

model_dir = "models/"  # Change to the actual directory if needed

# Get the list of model files (with .h5 extension)
model_files = [f for f in os.listdir(model_dir) if f.endswith('.h5')]

for sector, (X_test, y_test) in sector_test_datasets.items():
    print(f"Testing model for sector: {sector}")

    input_shape = (100, 3)
    model = build_transformer_multioutput(input_shape=input_shape)

    # Load the model weights
    model.load_weights(os.path.join(model_dir, model_file))

    # Predict
    y_pred = model.predict(X_test)

    # Evaluate
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    print(f"Sector: {sector} | MSE: {mse:.4f} | R²: {r2:.4f}")
    results[sector] = {'mse': mse, 'r2': r2}

Testing model for sector: BANKS
128/128 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step
Sector: BANKS | MSE: 0.1771 | R²: -2.9821
Testing model for sector: SUGAR & ALLIED INDUSTRIES
91/91 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: SUGAR & ALLIED INDUSTRIES | MSE: 0.0483 | R²: -0.0052
Testing model for sector: TEXTILE SPINNING
112/112 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step
Sector: TEXTILE SPINNING | MSE: 0.0749 | R²: -0.3117
Testing model for sector: COMMERCIAL BANKS
115/115 ━━━━━━━━━━━━━━━━━━━━ 2s 13ms/step
Sector: COMMERCIAL BANKS | MSE: 0.2211 | R²: -4.2232
Testing model for sector: PHARMACEUTICALS
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: PHARMACEUTICALS | MSE: 0.2086 | R²: -2.7563
Testing model for sector: EXCHANGE TRADED FUNDS
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Sector: EXCHANGE TRADED FUNDS | MSE: 0.1313 | R²: -0.8075
Testing model for sector: CEMENT
104/104 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: CEMENT | MSE: 0.1826 | R²: -4.2060
Testing model for sector: TEXTILE COMPOSITE
119/119 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step
Sector: TEXTILE COMPOSITE | MSE: 0.0930 | R²: -0.6215
Testing model for sector: ENGINEERING
80/80 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: ENGINEERING | MSE: 0.2002 | R²: -2.3146
Testing model for sector: INSURANCE
106/106 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: INSURANCE | MSE: 0.0528 | R²: 0.0010
Testing model for sector: AUTOMOBILE PARTS & ACCESSORIES
47/47 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Sector: AUTOMOBILE PARTS & ACCESSORIES | MSE: 0.1615 | R²: -1.5930
Testing model for sector: FERTILIZER
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: FERTILIZER | MSE: 0.2434 | R²: -9.9055
Testing model for sector: AUTOMOBILE ASSEMBLER
61/61 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: AUTOMOBILE ASSEMBLER | MSE: 0.2193 | R²: -3.6548
Testing model for sector: TECHNOLOGY & COMMUNICATION
86/86 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: TECHNOLOGY & COMMUNICATION | MSE: 0.2306 | R²: -3.7915
Testing model for sector: MISCELLANEOUS
48/48 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: MISCELLANEOUS | MSE: 0.1072 | R²: -1.1719
Testing model for sector: POWER GENERATION & DISTRIBUTION
83/83 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step
Sector: POWER GENERATION & DISTRIBUTION | MSE: 0.1678 | R²: -2.5316
Testing model for sector: OIL & GAS MARKETING COMPANIES
53/53 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step
Sector: OIL & GAS MARKETING COMPANIES | MSE: 0.2622 | R²: -8.2622
Testing model for sector: CHEMICAL
116/116 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step
Sector: CHEMICAL | MSE: 0.0887 | R²: -0.6591
Testing model for sector: FOOD & PERSONAL CARE PRODUCTS
121/121 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step
Sector: FOOD & PERSONAL CARE PRODUCTS | MSE: 0.1707 | R²: -2.2626
Testing model for sector: REFINERY
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Sector: REFINERY | MSE: 0.2389 | R²: -4.8607
Testing model for sector: LEATHER & TANNERIES
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Sector: LEATHER & TANNERIES | MSE: 0.1866 | R²: -4.1033
Testing model for sector: MODARABAS
59/59 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step
Sector: MODARABAS | MSE: 0.0625 | R²: -0.4656
Testing model for sector: GLASS & CERAMICS
41/41 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: GLASS & CERAMICS | MSE: 0.1608 | R²: -2.3793
Testing model for sector: WOOLLEN
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step
Sector: WOOLLEN | MSE: 0.0252 | R²: 0.6539
Testing model for sector: PROPERTY
WARNING:tensorflow:5 out of the last 47 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F88DE15E40> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

WARNING:tensorflow:5 out of the last 47 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F88DE15E40> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Sector: PROPERTY | MSE: 0.1828 | R²: -3.7430
Testing model for sector: PAPER, BOARD & PACKAGING
53/53 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Sector: PAPER, BOARD & PACKAGING | MSE: 0.0731 | R²: -0.3130
Testing model for sector: TRANSPORT
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Sector: TRANSPORT | MSE: 0.1918 | R²: -1.9714
Testing model for sector: REAL ESTATE INVESTMENT TRUST
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
Sector: REAL ESTATE INVESTMENT TRUST | MSE: 0.2941 | R²: -11.1123
Testing model for sector: CABLE & ELECTRICAL GOODS
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Sector: CABLE & ELECTRICAL GOODS | MSE: 0.1414 | R²: -1.6357
Testing model for sector: SYNTHETIC & RAYON
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Sector: SYNTHETIC & RAYON | MSE: 0.1346 | R²: -1.3089
Testing model for sector: CLOSE - END MUTUAL FUND
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Sector: CLOSE - END MUTUAL FUND | MSE: 0.0479 | R²: -0.2902
Testing model for sector: TEXTILE WEAVING
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Sector: TEXTILE WEAVING | MSE: 0.2195 | R²: -4.2708
Testing model for sector: TOBACCO
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Sector: TOBACCO | MSE: 0.0469 | R²: -0.4673
Testing model for sector: OIL & GAS EXPLORATION COMPANIES
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Sector: OIL & GAS EXPLORATION COMPANIES | MSE: 0.2249 | R²: -6.7765
Testing model for sector: LEASING COMPANIES
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step
Sector: LEASING COMPANIES | MSE: 0.0295 | R²: -1.2078
Testing model for sector: VANASPATI & ALLIED INDUSTRIES
WARNING:tensorflow:5 out of the last 31 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F9CD3668E0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

WARNING:tensorflow:5 out of the last 31 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x000001F9CD3668E0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
Sector: VANASPATI & ALLIED INDUSTRIES | MSE: 0.0390 | R²: -0.4134

In [47]:
import matplotlib.pyplot as plt
import os

# Create the output directory if it doesn't exist
results_dir = 'sector_results'
os.makedirs(results_dir, exist_ok=True)

for sector, (X_test, y_test) in sector_test_datasets.items():
    print(f"Saving predictions for sector: {sector}")

    input_shape = X_test.shape[1:]
    model_file = f"model_{sector.replace(' ', '_')}_multioutput.h5"
    model_path = os.path.join(model_dir, model_file)

    if not os.path.exists(model_path):
        print(f"Model not found for sector: {sector}")
        continue

    # Rebuild and load model
    model = build_transformer_multioutput(input_shape=input_shape)
    model.load_weights(model_path)

    # Predict
    y_pred = model.predict(X_test)

    num_outputs = y_test.shape[1]
    fig, axs = plt.subplots(num_outputs, 1, figsize=(12, 3 * num_outputs), sharex=True)
    fig.suptitle(f'{sector} - Actual vs Predicted (Last 100 Samples)', fontsize=16)

    for i in range(num_outputs):
        axs[i].plot(y_test[-100:, i], label='Actual', marker='o', linestyle='-', alpha=0.7)
        axs[i].plot(y_pred[-100:, i], label='Predicted', marker='x', linestyle='--', alpha=0.7)
        axs[i].set_ylabel(f'Output {i + 1}')
        axs[i].legend()
        axs[i].grid(True)

    axs[-1].set_xlabel('Sample Index')
    plt.tight_layout(rect=[0, 0.03, 1, 0.95])

    # Save the plot
    filename = f"{sector.replace(' ', '_')}_results.png"
    filepath = os.path.join(results_dir, filename)
    plt.savefig(filepath)
    plt.close(fig)  # Close the figure to free memory

Saving predictions for sector: BANKS
128/128 ━━━━━━━━━━━━━━━━━━━━ 2s 11ms/step
Saving predictions for sector: SUGAR & ALLIED INDUSTRIES
91/91 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step
Saving predictions for sector: TEXTILE SPINNING
112/112 ━━━━━━━━━━━━━━━━━━━━ 2s 12ms/step
Saving predictions for sector: COMMERCIAL BANKS
115/115 ━━━━━━━━━━━━━━━━━━━━ 2s 14ms/step
Saving predictions for sector: PHARMACEUTICALS
63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Saving predictions for sector: EXCHANGE TRADED FUNDS
20/20 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step
Saving predictions for sector: CEMENT
104/104 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Saving predictions for sector: TEXTILE COMPOSITE
119/119 ━━━━━━━━━━━━━━━━━━━━ 2s 13ms/step
Saving predictions for sector: ENGINEERING
80/80 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Saving predictions for sector: INSURANCE
106/106 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: AUTOMOBILE PARTS & ACCESSORIES
47/47 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Saving predictions for sector: FERTILIZER
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Saving predictions for sector: AUTOMOBILE ASSEMBLER
61/61 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Saving predictions for sector: TECHNOLOGY & COMMUNICATION
86/86 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: MISCELLANEOUS
48/48 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Saving predictions for sector: POWER GENERATION & DISTRIBUTION
83/83 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Saving predictions for sector: OIL & GAS MARKETING COMPANIES
53/53 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: CHEMICAL
116/116 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step
Saving predictions for sector: FOOD & PERSONAL CARE PRODUCTS
121/121 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step
Saving predictions for sector: REFINERY
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Saving predictions for sector: LEATHER & TANNERIES
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Saving predictions for sector: MODARABAS
59/59 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step
Saving predictions for sector: GLASS & CERAMICS
41/41 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: WOOLLEN
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 37ms/step
Saving predictions for sector: PROPERTY
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Saving predictions for sector: PAPER, BOARD & PACKAGING
53/53 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: TRANSPORT
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Saving predictions for sector: REAL ESTATE INVESTMENT TRUST
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Saving predictions for sector: CABLE & ELECTRICAL GOODS
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Saving predictions for sector: SYNTHETIC & RAYON
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Saving predictions for sector: CLOSE - END MUTUAL FUND
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
Saving predictions for sector: TEXTILE WEAVING
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Saving predictions for sector: TOBACCO
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Saving predictions for sector: OIL & GAS EXPLORATION COMPANIES
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Saving predictions for sector: LEASING COMPANIES
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step
Saving predictions for sector: VANASPATI & ALLIED INDUSTRIES
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 26ms/step

In [48]:
#testing on company data

from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd

# Define time step and horizons
time_step = 100
horizons = [1, 5, 22, 132]  # 1 day, 1 week, 1 month, 6 months

# Create a function to build the multi-output dataset
def create_multioutput_dataset(scaled_data, time_step, horizons):
    X, y = [], []

    for i in range(len(scaled_data) - time_step):
        X.append(scaled_data[i:i + time_step])
        y_values = []

        for horizon in horizons:
            if i + time_step + horizon <= len(scaled_data):
                y_values.append(scaled_data[i + time_step + horizon - 1, 0])  # Assuming target is the close_price (index 0)
            else:
                y_values.append(np.nan)

        y.append(y_values)

    X = np.array(X)
    y = np.array(y)

      # Handle NaN rows removal
    if y.ndim == 1:
        valid_indices = ~np.isnan(y)
    else:
        valid_indices = ~np.isnan(y).any(axis=1)

    X = X[valid_indices]
    y = y[valid_indices]

    return X, y

# Assuming df is already loaded as per the earlier steps
sectors = df['sector_name'].unique()
sector_company_test_datasets = {}

# Loop through each sector to create the dataset
for sector in sectors:
    sector_df = df[df['sector_name'] == sector]
    companies = sector_df['symbol'].unique()

    sector_results = {}

    for symbol in companies:
        company_df = sector_df[sector_df['symbol'] == symbol]
        company_df = company_df[['close_price', 'volume', 'open_price']].values

        # Normalize the features
        scaler = MinMaxScaler()
        company_scaled = scaler.fit_transform(company_df)

        # Create X and y using the helper function
        X, y = create_multioutput_dataset(company_scaled, time_step, horizons)

        if len(X) > 0 and len(y) > 0:
            sector_results[symbol] = (X, y)

    if sector_results:
        sector_company_test_datasets[sector] = sector_results

# Output to check the structure
print(f"Created {len(sector_company_test_datasets)} sectors with companies.")
print(f"Sample data for sector 'BANKS' and company 'AHL': {sector_company_test_datasets['BANKS']['AHL'][0].shape} -> {sector_company_test_datasets['BANKS']['AHL'][1].shape}")

Created 36 sectors with companies.
Sample data for sector 'BANKS' and company 'AHL': (996, 100, 3) -> (996, 4)

In [49]:
print(sector_company_test_datasets['BANKS'].keys())

dict_keys(['786', 'AHL', 'AKDSL', 'AMBL', 'CASH', 'CYAN', 'DEL', 'DLL', 'ENGROH', 'ESBL', 'FCIBL', 'FCSC', 'FDPL', 'FNEL', 'ICIBL', 'IMS', 'JSCL', 'JSCLPSA', 'JSGCL', 'JSIL', 'LSECL', 'LSEVL', 'MCBIM', 'NEXT', 'OLPL', 'PASL', 'PIAHCLA', 'PIAHCLB', 'PSX'])

In [50]:
X_test, y_test = sector_company_test_datasets['BANKS']['786']
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)
print("y_test:", y_test)

X_test shape: (806, 100, 3)
y_test shape: (806, 4)
y_test: [[0.23402617 0.20733898 0.22119579 0.11316397]
 [0.23248653 0.19245574 0.20862202 0.12188863]
 [0.22940724 0.2181165  0.20887862 0.12291506]
 ...
 [0.05055171 0.05594047 0.07954837 0.11521683]
 [0.03900436 0.04952528 0.0805748  0.11521683]
 [0.05799333 0.05132153 0.07210675 0.09212215]]

In [51]:
import numpy as np

# Assuming y_test is a numpy array
nan_count = np.isnan(y_test).sum()

print(f"Total NaN values: {nan_count}")

Total NaN values: 0

In [55]:
import matplotlib.pyplot as plt
import os
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
import tensorflow as tf

# Directories
output_dir = 'company_results'
os.makedirs(output_dir, exist_ok=True)
csv_path = os.path.join(output_dir, 'metrics_summary.csv')

# List to hold metric rows
metrics_data = []

# Model directory
model_dir = 'models/'

for sector, companies in sector_company_test_datasets.items():
    print(f"Evaluating and plotting predictions for sector: {sector}")

    for company, (X_test, y_test) in companies.items():
        print(f"Evaluating model for company: {company}")

        input_shape = X_test.shape[1:]
        model_file = f"model_{sector.replace(' ', '_')}_multioutput.h5"
        model_path = os.path.join(model_dir, model_file)

        if not os.path.exists(model_path):
            print(f"Model not found for sector: {sector}, company: {company}")
            continue

        # Load model
        model = build_transformer_multioutput(input_shape=input_shape)
        model.load_weights(model_path)

        # Predict
        y_pred = model.predict(X_test)

        # Calculate metrics
        num_outputs = y_test.shape[1]
        fig, axs = plt.subplots(num_outputs, 1, figsize=(12, 3 * num_outputs), sharex=True)
        fig.suptitle(f'{sector} - {company} - Actual vs Predicted (Last 100 Samples)', fontsize=16)

        for i in range(num_outputs):
            mse = mean_squared_error(y_test[:, i], y_pred[:, i])
            r2 = r2_score(y_test[:, i], y_pred[:, i])

            # Append row to CSV data
            metrics_data.append({
                'Sector': sector,
                'Company': company,
                'Output': f'Output_{i+1}',
                'MSE': round(mse, 6),
                'R2': round(r2, 6)
            })

            # Plotting
            axs[i].plot(y_test[-100:, i], label='Actual', marker='o', linestyle='-', alpha=0.7)
            axs[i].plot(y_pred[-100:, i], label='Predicted', marker='x', linestyle='--', alpha=0.7)
            axs[i].set_ylabel(f'Output {i + 1}')
            axs[i].legend()
            axs[i].grid(True)

        axs[-1].set_xlabel('Sample Index')
        plt.tight_layout(rect=[0, 0.03, 1, 0.95])

        # Save plot
        filename = f"{sector.replace(' ', '_')}_{company}_results.png"
        save_path = os.path.join(output_dir, filename)
        plt.savefig(save_path)
        plt.close()

# Save all metrics to CSV
metrics_df = pd.DataFrame(metrics_data)
metrics_df.to_csv(csv_path, index=False)
print(f"\nAll metrics saved to: {csv_path}")

Evaluating and plotting predictions for sector: BANKS
Evaluating model for company: 786
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: AHL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: AKDSL
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: AMBL
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: CASH
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 136ms/step
Evaluating model for company: CYAN
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: DEL
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Evaluating model for company: DLL
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: ENGROH
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: ESBL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step
Evaluating model for company: FCIBL
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Evaluating model for company: FCSC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: FDPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step
Evaluating model for company: FNEL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: ICIBL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: IMS
22/22 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step
Evaluating model for company: JSCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: JSCLPSA
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: JSGCL
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: JSIL
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: LSECL
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 135ms/step
Evaluating model for company: LSEVL
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step
Evaluating model for company: MCBIM
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: NEXT
27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: OLPL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PASL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PIAHCLA
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PIAHCLB
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 115ms/step
Evaluating model for company: PSX
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: SUGAR & ALLIED INDUSTRIES
Evaluating model for company: AABS
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: ADAMS
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: AGSML
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ALNRS
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Evaluating model for company: CHAS
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: DWSM
27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: FRSM
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: HABSM
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: HRPL
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: HWQS
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
Evaluating model for company: JDWS
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: JSML
27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: KPUS
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: MIRKS
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: MRNS
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: NONS
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Evaluating model for company: SANSM
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step
Evaluating model for company: SHJS
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: SHSML
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SKRS
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Evaluating model for company: SML
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: TCORP
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: TSML
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating and plotting predictions for sector: TEXTILE SPINNING
Evaluating model for company: AATM
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 131ms/step
Evaluating model for company: AMTEX
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 148ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: ARCTM
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: ASTM
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: BILF
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: CTM
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: CWSM
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: DFSM
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: DINT
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
Evaluating model for company: DSIL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: DWTM
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: GADT
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: GSPM
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 151ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: HIRAT
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: IDRT
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
Evaluating model for company: IDSM
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
Evaluating model for company: IDYM
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: JATM
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: JDMT
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: KOHTM
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: KOSM
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step
Evaluating model for company: NAGC
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
Evaluating model for company: RCML
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step
Evaluating model for company: RUBY
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: SAIF
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: SERT
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: SHDT
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: SLYT
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
Evaluating model for company: SSML
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step
Evaluating model for company: SUTM
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: TATM
23/23 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step
Evaluating and plotting predictions for sector: COMMERCIAL BANKS
Evaluating model for company: ABL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: AKBL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: BAFL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BAHL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: BIPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: BML
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BOK
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: BOP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: FABL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: HBL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: HMB
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: JSBL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MCB
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MEBL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: NBP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SBL
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: SCBPL
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SNBL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: UBL
32/32 ━━━━━━━━━━━━━━━━━━━━ 2s 51ms/step
Evaluating and plotting predictions for sector: PHARMACEUTICALS
Evaluating model for company: ABOT
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: AGP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: CPHL
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: FEROZ
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: GLAXO
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: HALEON
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: HINOON
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: HPL
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: IBLHL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: LIVEN
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: MACTER
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: OTSU
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: SEARL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: EXCHANGE TRADED FUNDS
Evaluating model for company: ACIETF
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
Evaluating model for company: HBLTETF
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
Evaluating model for company: JSGBETF
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 48ms/step
Evaluating model for company: JSMFETF
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Evaluating model for company: MIIETF
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 139ms/step
Evaluating model for company: MZNPETF
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: NBPGETF
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
Evaluating model for company: NITGETF
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
Evaluating model for company: UBLPETF
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating and plotting predictions for sector: CEMENT
Evaluating model for company: ACPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BWCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: CHCC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: DBCI
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 165ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: DCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: DGKC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: DNCC
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: FCCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: FECTC
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Evaluating model for company: FLYNG
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: GWLC
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: KOHC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: LUCK
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: MLCF
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: PIOC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: POWER
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: POWERPS
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: SMCPL
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: THCCL
31/31 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Evaluating and plotting predictions for sector: TEXTILE COMPOSITE
Evaluating model for company: ADMM
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ANL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: ANTM
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step
Evaluating model for company: ARUJ
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
Evaluating model for company: CHBL
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 142ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: CRTM
32/32 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Evaluating model for company: FML
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: FZCM
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: GATM
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: GFIL
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step
Evaluating model for company: HAEL
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: ILP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: INKL
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
Evaluating model for company: JUBS
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: KHYT
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 70ms/step
Evaluating model for company: KML
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: KOIL
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: KTML
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: MEHT
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
Evaluating model for company: MSOT
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: NCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: NML
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: QUET
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: REDCO
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: REWM
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: SAPT
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: SFL
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: STYLERS
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 129ms/step
Evaluating model for company: SURC
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Evaluating model for company: TOWL
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: ZAHID
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating and plotting predictions for sector: ENGINEERING
Evaluating model for company: AGHA
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: ASL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ASTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: BCL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: BECO
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: CSAP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: DADX
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: DSL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: INIL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ISL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: ITTEFAQ
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: KSBP
27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MSCL
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: MUGHAL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PECO
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Evaluating and plotting predictions for sector: INSURANCE
Evaluating model for company: AGIC
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: AICL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ALAC
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: ALIFE
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: ATIL
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: CENI
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: CSIL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: EFUG
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: EFUL
21/21 ━━━━━━━━━━━━━━━━━━━━ 1s 18ms/step
Evaluating model for company: HICL
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: IGIHL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: IGIL
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: JGICL
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: JLICL
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: PAKRI
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PIL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PINL
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: PKGI
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: RICL
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: SHNI
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: TPLI
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Evaluating model for company: UNIC
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: UVIC
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating and plotting predictions for sector: AUTOMOBILE PARTS & ACCESSORIES
Evaluating model for company: AGIL
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ATBA
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BELA
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step
Evaluating model for company: BWHL
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: DWAE
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 123ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: EXIDE
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GTYR
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: LOADS
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PTL
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: TBL
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 49ms/step
Evaluating model for company: THALL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating and plotting predictions for sector: FERTILIZER
Evaluating model for company: AGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: AHCL
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: EFERT
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: FATIMA
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: FFC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating and plotting predictions for sector: AUTOMOBILE ASSEMBLER
Evaluating model for company: AGTL
31/31 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Evaluating model for company: ATLH
27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: DFML
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: GAL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GHNI
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: HCAR
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: HINO
27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: INDU
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: MTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: SAZEW
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating and plotting predictions for sector: TECHNOLOGY & COMMUNICATION
Evaluating model for company: AIRLINK
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: AVN
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GEMSPNL
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
Evaluating model for company: HUMNL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MDTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: NETSOL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: OCTOPUS
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: PAKD
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: PTC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: STL
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 40ms/step
Evaluating model for company: SYM
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step
Evaluating model for company: SYS
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: TELE
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: TPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: TPLT
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: TRG
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: WTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: MISCELLANEOUS
Evaluating model for company: AKDHL
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: ARPAK
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step
Evaluating model for company: ECOP
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GAMON
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: MWMP
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 141ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: OML
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
Evaluating model for company: PABC
23/23 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step
Evaluating model for company: PSEL
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: SHFA
30/30 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step
Evaluating model for company: STPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: TRIPF
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: UBDL
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: UDPL
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating and plotting predictions for sector: POWER GENERATION & DISTRIBUTION
Evaluating model for company: ALTN
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: EPQL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: HUBC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: KAPCO
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: KEL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: KOHE
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 17ms/step
Evaluating model for company: KOHP
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: LPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: NCPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: NPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: PKGP
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SGPL
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: SPWL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 20ms/step
Evaluating model for company: TSPL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating and plotting predictions for sector: OIL & GAS MARKETING COMPANIES
Evaluating model for company: APL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BPL
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: HASCOL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: HTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: OBOY
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: PSO
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SNGP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SSGC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: WAFI
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: CHEMICAL
Evaluating model for company: ARPL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BAPL
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: BERG
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: BIFO
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BUXL
27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: DAAG
18/18 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step
Evaluating model for company: DOL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: DYNO
29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: EPCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GCIL
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Evaluating model for company: GGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: ICL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: LCI
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: LOTCHEM
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: LPGL
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: NICL
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: NRSL
31/31 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
Evaluating model for company: PAKOXY
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SARC
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: SITC
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: SPL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: WAHN
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating and plotting predictions for sector: FOOD & PERSONAL CARE PRODUCTS
Evaluating model for company: ASC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: BNL
28/28 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: CLOV
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: COLG
27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: FCEPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: FFL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: GLPL
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: ISIL
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Evaluating model for company: MFFL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MFL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MUREB
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: NATF
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: NESTLE
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: PREMA
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: QUICE
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: RMPL
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Evaluating model for company: SCL
18/18 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: SHEZ
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: TOMCL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: TREET
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: UNITY
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: UPFL
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
Evaluating model for company: ZIL
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating and plotting predictions for sector: REFINERY
Evaluating model for company: ATRL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: CNERGY
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: NRL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PRL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating and plotting predictions for sector: LEATHER & TANNERIES
Evaluating model for company: BATA
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: LEUL
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
Evaluating model for company: SGF
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: SRVI
31/31 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step
Evaluating and plotting predictions for sector: MODARABAS
Evaluating model for company: BFMOD
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
Evaluating model for company: FANM
9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
Evaluating model for company: FECM
26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating model for company: FFLM
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
Evaluating model for company: FHAM
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: FIBLM
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step
Evaluating model for company: FIMM
3/3 ━━━━━━━━━━━━━━━━━━━━ 3s 1s/step
Evaluating model for company: FPJM
23/23 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: FPRM
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: FTMM
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: FTSM
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 27ms/step
Evaluating model for company: OLPM
27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: ORM
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Evaluating model for company: PIM
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating model for company: PMI
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SINDM
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: TRSM
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: UCAPM
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating and plotting predictions for sector: GLASS & CERAMICS
Evaluating model for company: BGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: FRCL
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
Evaluating model for company: GGGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: GHGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: GVGL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: STCL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: TGL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: WOOLLEN
Evaluating model for company: BNWM
24/24 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating and plotting predictions for sector: PROPERTY
Evaluating model for company: BRRG
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 42ms/step
Evaluating model for company: JVDC
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: PACE
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: TPLP
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: PAPER, BOARD & PACKAGING
Evaluating model for company: CEPB
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: CPPL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: GEMPAPL
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 44ms/step
Evaluating model for company: MACFL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: MERIT
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step
Evaluating model for company: PKGS
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PPP
17/17 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: RPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SEPL
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SPEL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: TRANSPORT
Evaluating model for company: CLVL
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating model for company: GEMBLUEX
6/6 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
Evaluating model for company: PIBTL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PICT
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PNSC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: SLGL
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 147ms/step
Evaluating and plotting predictions for sector: REAL ESTATE INVESTMENT TRUST
Evaluating model for company: DCR
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 19ms/step
Evaluating model for company: GRR
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
Evaluating model for company: TPLRF1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 144ms/step
Evaluating and plotting predictions for sector: CABLE & ELECTRICAL GOODS
Evaluating model for company: EMCO
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: PAEL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PCAL
31/31 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: SIEM
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: WAVES
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: WAVESAPP
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating and plotting predictions for sector: SYNTHETIC & RAYON
Evaluating model for company: GATI
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: IBFL
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: IMAGE
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: NSRM
4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step
Evaluating model for company: PSYL
22/22 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: RUPL
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating and plotting predictions for sector: CLOSE - END MUTUAL FUND
Evaluating model for company: HGFA
26/26 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: HIFA
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step
Evaluating model for company: TSMF
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
Evaluating and plotting predictions for sector: TEXTILE WEAVING
Evaluating model for company: ICCI
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 148ms/step

C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
C:\Users\anosha\miniconda3\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Evaluating model for company: PRWM
15/15 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: STJT
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step
Evaluating model for company: YOUW
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating and plotting predictions for sector: TOBACCO
Evaluating model for company: KHTC
30/30 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step
Evaluating model for company: PAKT
24/24 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating model for company: PMPK
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step
Evaluating and plotting predictions for sector: OIL & GAS EXPLORATION COMPANIES
Evaluating model for company: MARI
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: OGDC
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 12ms/step
Evaluating model for company: POL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 13ms/step
Evaluating model for company: PPL
32/32 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step
Evaluating and plotting predictions for sector: LEASING COMPANIES
Evaluating model for company: PGLC
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step
Evaluating and plotting predictions for sector: VANASPATI & ALLIED INDUSTRIES
Evaluating model for company: POML
20/20 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
Evaluating model for company: SSOM
19/19 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step

All metrics saved to: company_results\metrics_summary.csv